.game_component {
	&_grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		align-items: center;
	}

	&_focus {
		border: 1px solid black;
		border-radius: 1em;
		background-color: rgb(243, 244, 246);
	}
}
