.container {
	background-image: url(/bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
}
.wrapper {
	max-width: 750px;
	width: 750px;
	height: 100svh;
}
